.navPusher {
  background-color: $kinto-white;
  height: auto;
}

// home page styles //

.projectTitle {
  margin-bottom: 74px;
}

.homeContainer {
  height: 74vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid $kinto-tinted-grayscale-6;
  border-radius: 4px;
  font-size: 14px;
  color: $kinto-tinted-grayscale-6;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-transform: inherit;
}

.toc .toggleNav {
  ul li a {
    font-weight: normal;
    font-size: 16px;
    color: $kinto-purple;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0;
    &:hover {
      color: $kinto-purple-light;
    }
    &.navItemActive {
      font-size: 16px;
      color: $kinto-blue;
      letter-spacing: 0;
      line-height: 24px;
      a {
        color: $kinto-purple;
      }
    }
  }
  li.navListItem.navListItemActive {
    background-color: rgba(122, 104, 232, .1);
    display: inline-block;
    margin-left: -.5em;
    padding: 0 .5em;
    border-radius: 5px;
    a {
      color: $kinto-purple;
    }
  }
  .navGroup .navGroupSubcategoryTitle {
    font-size: 16px;
  }
}

.toc-headings a:hover {
  color: $kinto-purple;
}

.navWrapper {
  margin-top: 40px;
}

.edit-page-link.button {
  margin-top: 0;
}

nav.toc .toggleNav .navGroup {
  margin: 0;
  padding-bottom: 24px;
  &.subNavGroup {
    padding-bottom: 0;
  }
  &.navGroupActive {
    background-color: $kinto-white;
    h3 {
      font-size: 20px;
      color: $kinto-grayscale-8;
      letter-spacing: 0;
      line-height: 24px;
      background-color: $kinto-white;
    }
  }
}

.toc-headings {
  li ul li a {
    font-weight: normal;
  }
}

blockquote {
  background-color: rgba($kinto-orange-bright, 0.2);
  border-left: none;
  box-shadow: inset 4px 0 0 0 #FFDB18;
  border-radius: 4px;
  padding-left: 2em;
  ul li, ol li {
    font-size: 16px;
    color: #556F7D;
    letter-spacing: 0;
    line-height: 24px;
  }
}

ul li, ol li {
  font-size: 16px;
  color: #556F7D;
  letter-spacing: 0;
  line-height: 24px;
}

.doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
 padding-left: 100px;
 background-color: $kinto-white;
}

pre code, pre code.hljs {
  background: $kinto-grayscale-1;
  box-shadow: inset 4px 0 0 0 #A2B0BD;
  border-radius: 4px;
  border: none;
  padding: 0.5em 0.5em 0.5em 2em;
  font-size: 85%;
  color: #556F7D;
  letter-spacing: 0;
  line-height: 24px;
}

code {
  background-color: rgba($kinto-blue, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: none;
  font-size: 85%; // Percentage, so that headings scale.

  &[class*='language-'], pre[class*='language-'] {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}

.fixedHeaderContainer {
  height: 80px;
  header img {
    margin-top: 30px;
  }
}

input#search_input_react {
  border-radius: 4px;
  padding: 16px 16px 16px 35px;
  height: 40px;
  box-sizing: border-box;
}

.navigationWrapper {
  margin-top: 10px;
}

.navSearchWrapper{
  &:before {
    left: 20px;
  }
  &:after {
    left: 30px;
  }
}

// overriding the standard underline
.mainContainer .wrapper a:hover, .mainContainer .wrapper a:focus, .inner .projectIntro a:hover, .inner .projectIntro a:focus {
  text-decoration: none;
}

.float-left-padding {
  float: left;
  padding-right: 1em;
  padding-top: 1em;
}

// css magic for responsive iframe video 
.iframe-container {
  position:relative;
  padding-top:56.25%;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}