@import url("https://fonts.googleapis.com/css?family=Nunito|Raleway:400,600");
h1, .h1 {
  font-size: 28px;
  line-height: 46px;
  font-family: 'Raleway', sans-serif;
  color: #0c4b5d; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 42px; } }

h2, .h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  color: #083a45; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 28px; } }

.mainContainer h1, .mainContainer h2, .mainContainer .h1, .mainContainer .h2 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  font-weight: 500 !important; }

.mainContainer h3, .mainContainer .h3 {
  color: #a2b0bd !important;
  margin-top: 30px !important; }

h3, .h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
  font-weight: normal; }

p, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0 0 10px 0; }

p, h4, .h4 {
  font-size: 18px;
  color: #556f7d;
  line-height: 24px;
  font-family: "Nunito", sans-serif; }
  @media (min-width: 768px) {
    p, h4, .h4 {
      font-size: 16px; } }

h5, .h5 {
  font-size: 16px;
  color: #556f7d;
  line-height: 24px; }
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 14px; } }

h6, .h6 {
  font-size: 14px;
  color: #a2b0bd;
  line-height: 24px; }
  @media (min-width: 768px) {
    h6, .h6 {
      font-size: 12px; } }

a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #1488a2;
  letter-spacing: 0;
  line-height: 24px; }
  a:hover {
    color: #1ec4e9;
    text-decoration: none; }

.fonts .section {
  width: 50%;
  display: inline-block; }

.bold {
  font-weight: 700; }

.semi-bold {
  font-weight: 600; }

.center {
  text-align: center; }

.footer-background {
  background-color: #f6f8fc; }
  .footer-background .line {
    width: 100%;
    border-top: solid 1px #edf3fd;
    border-bottom: solid 1px #edf3fd;
    margin-bottom: 40px; }

h6.byline {
  font-weight: normal;
  font-size: 12px;
  color: #a2b0bd;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px; }
  h6.byline.bold {
    font-weight: bold; }
  h6.byline a {
    color: #a2b0bd;
    font-size: 12px; }

footer {
  min-height: 140px;
  max-height: 200px;
  width: 100%; }
  footer .left {
    text-align: center; }
  @media (min-width: 1024px) {
    footer .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 66px; }
      footer .footer .left {
        display: flex;
        flex-direction: column;
        text-align: left; }
        footer .footer .left .unstyled-list li.list-item {
          display: inline-block;
          margin-right: 20px; }
        footer .footer .left .byline {
          text-align: left;
          line-height: 16px; }
      footer .footer .right {
        display: flex;
        align-items: baseline; }
        footer .footer .right .social-icons {
          margin-right: 20px; }
        footer .footer .right .footer-logo {
          padding-bottom: 0;
          height: 30px; } }
  footer .content {
    margin-top: 0; }
  footer .unstyled-list {
    margin-bottom: 20px; }
    footer .unstyled-list .list-item {
      text-align: center; }
      footer .unstyled-list .list-item a {
        color: #98b4cd;
        font-weight: bold; }
        footer .unstyled-list .list-item a:hover {
          color: #1ec4e9; }
      @media (min-width: 768px) and (max-width: 1023px) {
        footer .unstyled-list .list-item {
          display: inline-block;
          margin: 0 10px; } }
  footer .byline {
    text-align: center;
    margin-bottom: 20px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      footer .byline {
        font-weight: normal; } }
  footer .social-icons {
    text-align: center;
    margin-bottom: 20px; }
    footer .social-icons li.social-icon {
      height: 30px;
      width: 30px;
      display: inline-block;
      transition: all 0.1s linear;
      margin: 0 5px; }
      footer .social-icons li.social-icon:hover {
        opacity: 0.8; }
      footer .social-icons li.social-icon:active {
        filter: brightness(80%); }
  footer .footer-logo {
    margin: 0 auto;
    padding-bottom: 90px;
    width: 54px;
    text-align: center;
    transition: all 0.1s linear; }
    footer .footer-logo img {
      margin: 0; }
    footer .footer-logo:hover {
      opacity: 0.8; }
    footer .footer-logo:active {
      filter: brightness(80%); }

@media (min-width: 1024px) {
  footer .content .left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start; }
    footer .content .left li h5 {
      margin: 0 20px 10px 0; }
    footer .content .left h6 {
      text-align: left;
      width: 100%; }
  footer .content .right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline; }
    footer .content .right ul {
      margin: 0; }
    footer .content .right .footer-logo {
      margin-left: 20px; } }

.navPusher {
  background-color: white;
  height: auto; }

.projectTitle {
  margin-bottom: 74px; }

.homeContainer {
  height: 74vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  border: 1px solid #98b4cd;
  border-radius: 4px;
  font-size: 14px;
  color: #98b4cd;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-transform: inherit; }

nav.toc .toggleNav ul li a {
  font-weight: normal;
  font-size: 16px;
  color: #556f7d;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0; }
  nav.toc .toggleNav ul li a:hover {
    color: rgba(85, 111, 125, 0.4); }
  nav.toc .toggleNav ul li a.navItemActive {
    font-size: 16px;
    color: #1ec4e9;
    letter-spacing: 0;
    line-height: 24px; }

nav.toc .toggleNav .navGroup.navGroupActive {
  background-color: white; }
  nav.toc .toggleNav .navGroup.navGroupActive h3 {
    font-size: 20px;
    color: #38535e;
    letter-spacing: 0;
    line-height: 24px;
    background-color: white; }

nav.toc .toggleNav .navGroup {
  margin: 0;
  padding-bottom: 24px; }

.toc-headings li ul li a {
  font-weight: normal; }

blockquote {
  background-color: rgba(244, 100, 100, 0.1);
  border-left: none;
  box-shadow: inset 4px 0 0 0 #F46464;
  border-radius: 4px;
  padding-left: 30px; }
  blockquote ul li {
    font-size: 16px;
    color: #556F7D;
    letter-spacing: 0;
    line-height: 24px; }

ul li {
  font-size: 16px;
  color: #556F7D;
  letter-spacing: 0;
  line-height: 24px; }
  ul li a {
    font-weight: normal; }

.doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
  padding-left: 100px;
  background-color: white; }

pre code, pre code.hljs {
  background: #f6f8fc;
  box-shadow: inset 4px 0 0 0 #1488A2;
  border-radius: 4px;
  border: none;
  padding: 0.5em 0.5em 0.5em 30px;
  font-size: 16px;
  color: #556F7D;
  letter-spacing: 0;
  line-height: 24px; }

code {
  background-color: rgba(30, 196, 233, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: none; }

.fixedHeaderContainer {
  height: 60px; }
  .fixedHeaderContainer header img {
    margin-top: 10px; }

input#search_input_react {
  border-radius: 4px;
  padding: 16px 16px 16px 35px;
  height: 40px; }

.navSearchWrapper:before {
  left: 20px; }

.navSearchWrapper:after {
  left: 30px; }

.mainContainer .wrapper a:hover, .mainContainer .wrapper a:focus, .inner .projectIntro a:hover, .inner .projectIntro a:focus {
  text-decoration: none; }
